@model List<tupencauy.ViewModels.RecargaVM>

@{
    ViewData["Title"] = "Aprobar Recargas";
}

<h1>Aprobar Recargas</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre Usuario</th>
            <th>Monto Recarga</th>
            <th>Nombre Sitio</th>
            <th>Comprobante</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recarga in Model)
        {
            <tr>
                <td>@recarga.NombreUsuario</td>
                <td>@recarga.MontoRecarga</td>
                <td>@recarga.NombreSitio</td>
                <td>
                    <img src="http://localhost:5234/api/Users/@recarga.ComprobantePath" alt="Comprobante" style="max-width: 100px; max-height: 100px; cursor: pointer;" data-toggle="modal" data-target="#imageModal" data-image-url="http://localhost:5234/api/Users/@recarga.ComprobantePath" />
                </td>
                <td>
                    <form asp-action="AprobarRecarga" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="@recarga.Id" />
                        <button type="submit" class="btn btn-success">Aprobar</button>
                    </form>
                    <form asp-action="DesaprobarRecarga" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="@recarga.Id" />
                        <button type="submit" class="btn btn-danger">Desaprobar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Imagen Comprobante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img id="modalImage" src="" alt="Comprobante" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $('#imageModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var imageUrl = button.data('image-url'); // Extract info from data-* attributes
            var modal = $(this);
            modal.find('.modal-body #modalImage').attr('src', imageUrl);
        });
    </script>
}
